extends /layouts/_article

block vars
  -
    page = {
      title: '关于',
      breadcrumbs: {}
    }

block article
  div
    article(class="uk-card " +
                  "uk-card-default " +
                  "uk-card-body " +
                  "uk-article " +
                  "tm-ignore-container")

      header.uk-text-center
        //- Title
        h1.uk-article-title= page.title

      div.uk
        p.uk-text-text-lead.uk-center 辽阳市万兴包装制品厂始建于一九九零年三月，隶属于辽宁省辽阳市白塔区民政局直属的社会福利企业。自九二年被辽宁省商检局审定为出口包装地点生产企业。
        p 我厂已有多年生产纸板桶的历史，具有先进的生产设备和工艺装备，有较高的生产技术力量，完善的质量保证体系。
        p 我厂主要制造纸板桶产品，规格φ200~φ700，该产品用于化工、染料、原料药、贵重金属粉末、粘合剂、线缆等行业的包装，理想的包装容器，它具有价格低、重量轻、美观大方、坚固耐用、密封性能好、适应性强，废弃物易消毁的特点。
        p 随着我国加入WTO入世后产品包装为适应新的需求，我厂已形成：铁箍纸桶、大口径纸桶、全纸桶、全纸方纸桶等系列，多种规格型号，可供广大用户选用。
        p 我厂被中华人民共和国辽宁出入境检验检疫局审定为“危险品包装容器质量许可证”单位。
        p 被辽阳市产品质量监督局评定为“质量信得过单位”。
        p 本厂通过ISO9002国际质量保证体系认证。
        p 我厂将以“务实创新、追求卓越的企业精神”，以高质量的产品，真诚的服务于广大客户。
        
        
        
