-
  var shopInfo = {
    phone: '400-8888888',
    email: 'example@example.com',
    address: '山西省运城市水西门街31号',
    openingHours: '服务 7x24小时',
    storeName: '木桶市场',
    latitude: 35.0256728,
    longitude: 111.007604
  }

  var catalog = [
  {
    name: '纸板桶',
    id: 'laptops-tablets',
    href: 'category.html',
    image: 'images/catalog/computers.svg',
    quantity: 367,
    items: [
      '纸板桶1',
      '纸板桶2',
      '纸板桶3',
      '纸板桶4',
      '纸板桶5'
    ]
  }, {
    name: '纸盒',
    id: 'phones-gadgets',
    href: 'category.html',
    image: 'images/catalog/phones.svg',
    quantity: 144,
    items: [
      '纸盒1',
      '纸盒2',
      '纸盒3',
      '纸盒4',
      '纸盒5'
    ]
  }, {
    name: '金箍桶',
    id: 'tv-video',
    href: 'category.html',
    image: 'images/catalog/tv.svg',
    quantity: 58,
    items: [
      '金箍桶1',
      '金箍桶2',
      '金箍桶3',
      '金箍桶4',
    ]
  }, {
    name: '原浆桶',
    id: 'games-entertainment',
    href: 'category.html',
    image: 'images/catalog/games.svg',
    quantity: 13,
    items: [
      '原浆桶1',
      '原浆桶2',
      '原浆桶3',
      '原浆桶4',
      '原浆桶5'
    ]
  }]

  var brands = [{
    name: '品牌A',
    image: 'images/brands/apple.svg',
  }, {
    name: '品牌B',
    image: 'images/brands/samsung.svg'
  }, {
    name: '品牌C',
    image: 'images/brands/sony.svg'
  }]

  var toolbarMenu = []

  var navbarMenu = [{
    name: 'Catalog',
    cn:"类别",
    href: 'catalog.html',
    items: catalog
  }]

  var footerMenuLeft = [{
    name: 'Catalog',
    href: 'catalog.html'
  }, {
    name: 'Brands',
    href: 'brands.html'
  }]

  var footerMenuRight = []

  var socials = []

  var products = [{
    id: 1,
    name: '这是一个木桶A',
    type: 'Laptop',
    href: 'product.html',
    image: {
      small: 'images/products/1/1-small.jpg',
      medium: 'images/products/1/1-medium.jpg',
      large: 'images/products/1/1-large.jpg',
    },
    additionalImages: [{
      small: 'images/products/1/1-add-1-small.jpg',
      large: 'images/products/1/1-add-1-large.jpg',
    }, {
      small: 'images/products/1/1-add-2-small.jpg',
      large: 'images/products/1/1-add-2-large.jpg',
    }, {
      small: 'images/products/1/1-add-3-small.jpg',
      large: 'images/products/1/1-add-3-large.jpg',
    }, {
      small: 'images/products/1/1-add-4-small.jpg',
      large: 'images/products/1/1-add-4-large.jpg',
    }],
    price: 'RMB1599.00',
    oldPrice: 'RMB1899.00',
    brand: {
      name: '品牌A',
      image: 'images/brands/apple.svg',
      href: '#',
    },
    variations: [{
      name: '颜色',
      values: [{
        name: '太空灰',
        value: '#aaaeb1'
      }, {
        name: '银色',
        value: '#dddfde'
      }]
    }, {
      name: '尺寸',
      values: [{
        name: '大',
        value: 'big_size'
      }, {
        name: '中',
        value: 'middle_size'
      }, {
          name: '小',
          value: 'small_size'
       }]
    }],
    specifications: [{
    name: '质量',
    properties: {
      '质检报告': '欧盟质量委员会荣誉等级AAAA',
      'ISO9001': '2.8&nbsp;GG',
      '国家非遗保护编号': 'No.2223849',
      '获奖情况1': '16&nbsp;AA',
      '国家扶贫贴补编号': 'XXXX编号'
      }
    }],
    reviews: [],
    questions: [],
    isNotAvailable: false,
    isOnSale: true,
    isAddedToCart: true,
    isAddedToFavorites: true,
    isAddedToCompare: true,
    statuses: ['top selling', 'trade-in'],
    properties: {
        '木桶属性信息1': '数值1"',
        '木桶属性信息2': '数值2"',
        '木桶属性信息3': '数值3"',
        '木桶属性信息4': '数值4"',
        '木桶属性信息5': '数值5"',
    }
  },    {
    id: 2,
    name: '这是一个木桶B',
    type: 'Laptop',
    href: 'product.html',
    image: {
      small: 'images/products/1/1-small.jpg',
      medium: 'images/products/1/1-medium.jpg',
      large: 'images/products/1/1-large.jpg',
    },
    additionalImages: [{
      small: 'images/products/1/1-add-1-small.jpg',
      large: 'images/products/1/1-add-1-large.jpg',
    }, {
      small: 'images/products/1/1-add-2-small.jpg',
      large: 'images/products/1/1-add-2-large.jpg',
    }, {
      small: 'images/products/1/1-add-3-small.jpg',
      large: 'images/products/1/1-add-3-large.jpg',
    }, {
      small: 'images/products/1/1-add-4-small.jpg',
      large: 'images/products/1/1-add-4-large.jpg',
    }],
    price: 'RMB99.00',
    oldPrice: 'RMB99.00',
    brand: {
      name: '品牌B',
      image: 'images/brands/apple.svg',
      href: '#',
    },
    variations: [{
      name: '颜色',
      values: [{
        name: '太空灰',
        value: '#aaaeb1'
      }, {
        name: '银色',
        value: '#dddfde'
      }]
    }, {
      name: '尺寸',
      values: [{
        name: '大',
        value: 'big_size'
      }, {
        name: '中',
        value: 'middle_size'
      }, {
          name: '小',
          value: 'small_size'
       }]
    }],
    specifications: [{
    name: '质量',
    properties: {
      '质检报告': '欧盟质量委员会荣誉等级AAAA',
      'ISO9001': '2.8&nbsp;GG',
      '国家非遗保护编号': 'No.2223849',
      '获奖情况1': '16&nbsp;AA',
      '国家扶贫贴补编号': 'XXXX编号'
      }
    }],
    reviews: [],
    questions: [],
    isNotAvailable: false,
    isOnSale: true,
    isAddedToCart: true,
    isAddedToFavorites: true,
    isAddedToCompare: true,
    statuses: ['top selling', 'trade-in'],
    properties: {
        '木桶属性信息1': '数值1"',
        '木桶属性信息2': '数值2"',
        '木桶属性信息3': '数值3"',
        '木桶属性信息4': '数值4"',
        '木桶属性信息5': '数值5"',
    }
  },{
    id: 3,
    name: '这是一个木桶C',
    type: 'Laptop',
    href: 'product.html',
    image: {
      small: 'images/products/1/1-small.jpg',
      medium: 'images/products/1/1-medium.jpg',
      large: 'images/products/1/1-large.jpg',
    },
    additionalImages: [{
      small: 'images/products/1/1-add-1-small.jpg',
      large: 'images/products/1/1-add-1-large.jpg',
    }, {
      small: 'images/products/1/1-add-2-small.jpg',
      large: 'images/products/1/1-add-2-large.jpg',
    }, {
      small: 'images/products/1/1-add-3-small.jpg',
      large: 'images/products/1/1-add-3-large.jpg',
    }, {
      small: 'images/products/1/1-add-4-small.jpg',
      large: 'images/products/1/1-add-4-large.jpg',
    }],
    price: 'RMB299.00',
    oldPrice: 'RMB899.00',
    brand: {
      name: '品牌B',
      image: 'images/brands/apple.svg',
      href: '#',
    },
    variations: [{
      name: '颜色',
      values: [{
        name: '太空灰',
        value: '#aaaeb1'
      }, {
        name: '银色',
        value: '#dddfde'
      }]
    }, {
      name: '尺寸',
      values: [{
        name: '大',
        value: 'big_size'
      }, {
        name: '中',
        value: 'middle_size'
      }, {
          name: '小',
          value: 'small_size'
       }]
    }],
    specifications: [{
    name: '质量',
    properties: {
      '质检报告': '欧盟质量委员会荣誉等级AAAA',
      'ISO9001': '2.8&nbsp;GG',
      '国家非遗保护编号': 'No.2223849',
      '获奖情况1': '16&nbsp;AA',
      '国家扶贫贴补编号': 'XXXX编号'
      }
    }],
    reviews: [],
    questions: [],
    isNotAvailable: false,
    isOnSale: true,
    isAddedToCart: true,
    isAddedToFavorites: true,
    isAddedToCompare: true,
    statuses: ['top selling', 'trade-in'],
    properties: {
        '木桶属性信息1': '数值1"',
        '木桶属性信息2': '数值2"',
        '木桶属性信息3': '数值3"',
        '木桶属性信息4': '数值4"',
        '木桶属性信息5': '数值5"',
    }
  },{
        id: 4,
        name: '这是一个木桶E',
        type: 'Laptop',
        href: 'product.html',
        image: {
          small: 'images/products/1/1-small.jpg',
          medium: 'images/products/1/1-medium.jpg',
          large: 'images/products/1/1-large.jpg',
        },
        additionalImages: [{
          small: 'images/products/1/1-add-1-small.jpg',
          large: 'images/products/1/1-add-1-large.jpg',
        }, {
          small: 'images/products/1/1-add-2-small.jpg',
          large: 'images/products/1/1-add-2-large.jpg',
        }, {
          small: 'images/products/1/1-add-3-small.jpg',
          large: 'images/products/1/1-add-3-large.jpg',
        }, {
          small: 'images/products/1/1-add-4-small.jpg',
          large: 'images/products/1/1-add-4-large.jpg',
        }],
        price: 'RMB399.00',
        oldPrice: 'RMB999.00',
        brand: {
          name: '品牌B',
          image: 'images/brands/apple.svg',
          href: '#',
        },
        variations: [{
          name: '颜色',
          values: [{
            name: '太空灰',
            value: '#aaaeb1'
          }, {
            name: '银色',
            value: '#dddfde'
          }]
        }, {
          name: '尺寸',
          values: [{
            name: '大',
            value: 'big_size'
          }, {
            name: '中',
            value: 'middle_size'
          }, {
              name: '小',
              value: 'small_size'
           }]
        }],
        specifications: [{
        name: '质量',
        properties: {
          '质检报告': '欧盟质量委员会荣誉等级AAAA',
          'ISO9001': '2.8&nbsp;GG',
          '国家非遗保护编号': 'No.2223849',
          '获奖情况1': '16&nbsp;AA',
          '国家扶贫贴补编号': 'XXXX编号'
          }
        }],
        reviews: [],
        questions: [],
        isNotAvailable: false,
        isOnSale: true,
        isAddedToCart: true,
        isAddedToFavorites: true,
        isAddedToCompare: true,
        statuses: ['top selling', 'trade-in'],
        properties: {
            '木桶属性信息1': '数值1"',
            '木桶属性信息2': '数值2"',
            '木桶属性信息3': '数值3"',
            '木桶属性信息4': '数值4"',
            '木桶属性信息5': '数值5"',
        }
      },{
            id: 5,
            name: '这是一个木桶F',
            type: 'Laptop',
            href: 'product.html',
            image: {
              small: 'images/products/1/1-small.jpg',
              medium: 'images/products/1/1-medium.jpg',
              large: 'images/products/1/1-large.jpg',
            },
            additionalImages: [{
              small: 'images/products/1/1-add-1-small.jpg',
              large: 'images/products/1/1-add-1-large.jpg',
            }, {
              small: 'images/products/1/1-add-2-small.jpg',
              large: 'images/products/1/1-add-2-large.jpg',
            }, {
              small: 'images/products/1/1-add-3-small.jpg',
              large: 'images/products/1/1-add-3-large.jpg',
            }, {
              small: 'images/products/1/1-add-4-small.jpg',
              large: 'images/products/1/1-add-4-large.jpg',
            }],
            price: 'RMB999.00',
            oldPrice: 'RMB1999.00',
            brand: {
              name: '品牌B',
              image: 'images/brands/apple.svg',
              href: '#',
            },
            variations: [{
              name: '颜色',
              values: [{
                name: '太空灰',
                value: '#aaaeb1'
              }, {
                name: '银色',
                value: '#dddfde'
              }]
            }, {
              name: '尺寸',
              values: [{
                name: '大',
                value: 'big_size'
              }, {
                name: '中',
                value: 'middle_size'
              }, {
                  name: '小',
                  value: 'small_size'
               }]
            }],
            specifications: [{
            name: '质量',
            properties: {
              '质检报告': '欧盟质量委员会荣誉等级AAAA',
              'ISO9001': '2.8&nbsp;GG',
              '国家非遗保护编号': 'No.2223849',
              '获奖情况1': '16&nbsp;AA',
              '国家扶贫贴补编号': 'XXXX编号'
              }
            }],
            reviews: [],
            questions: [],
            isNotAvailable: false,
            isOnSale: true,
            isAddedToCart: true,
            isAddedToFavorites: true,
            isAddedToCompare: true,
            statuses: ['top selling', 'trade-in'],
            properties: {
                '木桶属性信息1': '数值1"',
                '木桶属性信息2': '数值2"',
                '木桶属性信息3': '数值3"',
                '木桶属性信息4': '数值4"',
                '木桶属性信息5': '数值5"',
            }
     }
  ]

  var filters = [
  ]

  var compare = []

  var articles = [{
    title: 'Everything You Need to Know About the MacBook Pro',
    description: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p>',
    preview: 'images/articles/macbook-photo.jpg',
    date: 'May 21, 2018',
    href: 'article.html'
  }, {
    title: 'Apple introduces macOS Mojave',
    description: '<p>Praesent consequat justo eu massa malesuada posuere. Donec ultricies tincidunt nisl, sed euismod nulla venenatis maximus. Maecenas sit amet semper tellus. Pellentesque imperdiet finibus sapien, a consectetur eros auctor a.</p>',
    preview: 'images/articles/macos.jpg',
    date: 'May 21, 2018',
    href: 'article.html'
  }]

  var news = [{
    title: 'Highlights from WWDC',
    description: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p>',
    date: 'June 4, 2018',
    href: 'article.html'
  }, {
    title: 'Apple introduces macOS Mojave',
    description: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p>',
    date: 'June 4, 2018',
    href: 'article.html'
  }, {
    title: 'iOS 11.4 brings stereo pairs and multi-room audio with AirPlay 2',
    description: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p>',
    date: 'May 29, 2018',
    href: 'article.html'
  }]

  var profile = {
    firstName: 'Thomas',
    lastName: 'Bruns',
    image: 'images/avatar.jpg',
    registrationDate: 'June 6, 2018',
    phone: '8 (800) 555-35-35',
    dateOFBirth: '1990-01-01',
    email: 'example@example.com'
  }

  var profileNav = [{
    id: 1,
    title: 'Orders',
    amount: 2,
    href: 'account.html'
  }]

  var orders = []

  var informationalNav = []

  var promo = [{
    background: '#0b0a12',
    image: 'images/promo/macbook-new.jpg',
    title: '木桶AAA'
  }, {
    background: '#ce071e',
    image: 'images/promo/iphone.jpg',
    title: '木桶BBB'
  }, {
    background: '#1f2024',
    image: 'images/promo/ipad.jpg',
    title: '木桶CCC'
  }]

  var categories = [{
    title: '纸板桶',
    href: 'subcategory.html',
    comment: 'from RMB149',
    image: 'images/catalog/laptops.png'
  }, {
    title: '原浆桶',
    href: 'subcategory.html',
    comment: 'from RMB99',
    image: 'images/catalog/smartphones.png'
  }, {
    title: '板纸',
    href: 'subcategory.html',
    comment: 'from RMB129',
    image: 'images/catalog/tablets.png'
  }, {
    title: '金箍桶',
    href: 'subcategory.html',
    comment: 'from RMB49',
    image: 'images/catalog/watches.png'
  }]

  var advantages = [{
    title: '优势一：精准',
    description: '快速精准满足客户新需求',
    icon: 'star'
  }, {
    title: '优势二：体量',
    description: '只有你想不到的木桶，没有做不出来的',
    icon: 'receiver'
  }, {
    title: '优势三：高性价比',
    description: '让产品与价格不在制约你商业爆发',
    icon: 'location'
  }, {
    title: '优势四：海量订单',
    description: '大单生意客户，1对1支持',
    icon: 'happy'
  }]


